%h2 Учебная программа специальности 231300
%table{border:1}
  %tr
    %th Дисциплина
    - @competences.each do |competence|
      %th= competence.name
  - @data.each do |discipline|
    %tr 
      %td 
        = discipline[:name]
      - @competences.each do |competence|
        %td
          - if discipline[:competences].include? competence.id
            Да