/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1{
    font-family: "Tahoma";
}


table {
      border: 1px ridge #73766f;
      border-collapse: collapse;
}              
 
table thead, th {
      background: -webkit-linear-gradient(top right, #b8b9b1, #fff); /* для webkit-браузеров */
      background: -moz-linear-gradient(top right, #b8b9b1, #fff); /* для firefox 3.6+ */
      background: -o-linear-gradient(top right, #b8b9b1, #fff); /* для Opera 11.10+ */
      background: -ms-linear-gradient(top right, #b8b9b1, #fff); /* для IE10+ */
      text-align: center;
      vertical-align: text-top;
      padding:10px;
      border-bottom: 1px ridge #73766f;
      border-left: 1px solid #73766f;
      border-collapse: collapse;
}
 
table td, tr {
      text-align:left;
      vertical-align: text-top;
      padding:10px;
      border: 1px solid #73766f;
      border-collapse: collapse;
      background: #fff;
}